*{
    margin: 0;
    padding: 0;
    background-color: #84a98c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    font-size: 3em;
}

h1, h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 4px 0 2px;
}


.photo{
    width: 300px;
    margin: 0 auto;
}

img{
    width: 300px;
    border-radius: 200px;
    border-style: solid;
    border-color: #52796f;
}

.profile-container{
    width: 70%;
    margin: 0 auto;
}
.profile-container .subtitle{
    width: auto;
}

.subtitle{
    width: 300px;
    font-size: 1.2em;
    font-weight: 700;
    padding: 6px 5px;
    text-decoration: 3px underline;
    background-color: #cad2c5;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid black;
}

.inner-container{
    width: 40%;
    border: 2px solid black;
    background-color:#cad2c5;
}

ul > li, .card-text{
    background-color:#cad2c5;
}

li{
    list-style: inside;
    padding: 3px 10px;
}