*{
    margin: 0;
    padding: 0;
    background-color: #84a98c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 3em;
}

h1, h2{
    text-align: center;
    padding: 2px 4px 0 2px;
}

.photo{
    display: flex;
    padding: 1em;
    margin: 0 auto;
    border-bottom: 3px solid #cad2c5;
    background-color: #52796f;
    background-image: url(./fondo.png);
}

img{
    margin: 0 auto;
    max-width: 300px;
    border-radius: 180px;
}

.profile-container{
    width: 70%;
    background-color:#cad2c5;
}
.profile-container .subtitle{
    width: auto;
}

.subtitle{
    width: auto;
    font-size: 1.2em;
    font-weight: 700;
    padding: 6px 5px;
    text-decoration: 3px underline;
    background-color: #cad2c5;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.inner-container{
    width: 43%;
    min-width: 160px;   
    background-color:#cad2c5;
}

.inner-container, .profile-container{
    border: 3px solid #52796f;
    margin: 8px auto;
    padding: 0.3em;
    border-radius: 18px;
}

ul > li, .card-text{
    background-color:#cad2c5;
    font-size: 1.2em;
    padding: 3px 5px 3px 5px;
}

.card-text{
    font-weight: 400;
    text-indent: 8px;
}

li{
    list-style: none;
    font-weight: 600;
}

